cmake-build-*/
build/
out/
Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
ipch/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.idb
*.ilk
*.pdb
*.exp

*.log
*.tlog
*.tmp
*.cache
*.lastbuildstate

*.db
*.db-wal
*.db-shm

data/*
!*mail-server-example.db

.idea/
.vs/
*.VC.db
*.VC.opendb
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln
*.vcxproj*
